* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}
@font-face {
  font-family: Colonna MT Reg;
  src: url(./fonts/COLONNA.TTF);
}
a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 500;
}
ul {
  list-style-type: none;
}
.nav-wrapper {
  height: 100px;
  width: 100%;
  background-color: black;
  padding-top: 20px;
}

nav {
  height: 64px;
  width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 1;
  padding-inline: 3vw;
}

.wrapper {
  width: 100%;
}
.button {
  width: 1300px;
  height: 80px;
  background-color: rgb(64, 64, 163);
  margin: auto;
  border-radius: 20px;
}
.hero {
  background-image: linear-gradient(black, rgb(60, 60, 144));
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.callout {
  text-decoration: none;
  color: #c38d94;
  font-size: 27px;
  width: 1224px;
  height: 700px;
  padding-bottom: 50px;
}
.callout img {
  width: 1224px;
  height: 654px;
  float: right;
}

.logo {
  text-decoration: none;
  color: white;
  margin-right: 10px;
  font-size: 20px;
  width: 500px;
  height: 45px;
}
.logo h1 {
  font-weight: 600;
  font-family: Colonna MT Reg;
}
.nav-main-menu {
  display: flex;
  color: white;
  font-family: Colonna MT Reg;
  font-size: 25px;
  padding: 10px;
}

.nav-link {
  margin-inline: 10px;
  transition: 0.3s;
}

.nav-link:hover {
  color: rgb(88, 88, 106);
}

.nav-link span {
  margin-right: 5px;
}
.aboutus {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(black, rgb(31, 31, 115));
  align-items: left;
  padding-top: 20px;
  padding-left: 50px;
}
.aboutus img {
  width: 350px;
  height: 250px;
}
.aboutus p {
  color: white;
}
.Grant img {
  padding-bottom: 15px;
}

.Crystal img {
  padding-bottom: 15px;
}

.Sophie img {
  padding-bottom: 15px;
}

.Ccontent-holder {
  height: 650px;
  /* background-color: white; */
  display: flex;
  justify-content: space-evenly;
  padding-top: 250px;
}
.contact text {
  width: 100%;
  background-color: #565676;
  position: fixed;
  left: 0;
  bottom: 0;
}
.contactinfo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Colonna MT Reg;
  font-size: 25px;
  margin: 15px;
}
.message {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: Colonna MT Reg;
  font-size: 25px;
  width: 600px;
  text-align: center;
  padding-bottom: 16px;
}

.content-contact img {
  width: 700px;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Creaturesdropdown {
  align-items: center;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: row;
}

.toggle {
  align-items: center;
  align-self: center;
  appearance: auto;
  background-attachment: scroll;
  background-clip: border-box;
  background-color rgb(253, 236, 221)
  background-image: none;
  justify
background-origin padding-box
background-position-x 0%
background-position-y 0%
background-repeat repeat
background-size auto
border-bottom-color rgb(153, 0  , 0)
border-bottom-left-radius 15984px
border-bottom-right-radius 15984px
border-bottom-style none
border-bottom-width 0px
border-image-outset 0
border-image-repeat stretch
border-image-slice 100%
border-image-source none
border-image-width 1
border-left-color rgb(153, 0, 0)
border-left-style none
border-left-width 0px
border-right-color rgb(153, 0, 0)
border-right-style none
border-right-width 0px
border-top-color rgb(153, 0, 0)
border-top-left-radius 15984px
border-top-right-radius 15984px
border-top-style none
border-top-width 0px
box-sizing border-box
color rgb(153, 0, 0)
cursor pointer
display flex
flex-shrink 0
height 24px
letter-spacing normal
line-height 24px
list-style-image none
list-style-position outside
list-style-type none
margin-bottom 0px
margin-left 4px
margin-right 0px
margin-top 0px
padding-block-end 0px
padding-block-start 0px
padding-bottom 0px
padding-inline-end 8px
padding-inline-start 8px
padding-left 8px
padding-right 8px
padding-top 0px
text-align center
text-indent 0px
text-rendering auto
text-shadow none
text-transform none
width 24px
word-spacing 0px
-webkit-border-image none
}